<div class="wrapper">
  <div class="block">
  <div class="form">
  <div class="table">

<h1>Editing Sugar Checks</h1>

<%= render 'form' %>

<%= link_to 'Show', @glucose_check %> |
<%= link_to 'Back', glucose_checks_path %>
</div>
</div>
</div>
</div>