
<div class="wrapper">
<div class="table">

<h1>Whats your Sugar level</h1>


<%= render 'form' %>
<div class="back">
<%= link_to 'Back', glucose_checks_path , :class => 'backBtn'%>
</div>
</div>
</div>