
<div class="wrapper">
	<div class="table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Glucose:</strong>
  <%= @glucose_check.glucose %>
</p>

<%= link_to 'Edit', edit_glucose_check_path(@glucose_check) %> |
<%= link_to 'Back', glucose_checks_path %>

</div>
</div>