
  
<div class="hero">
	<div class="emptyBox">	
		<h2>Glucose Monitoring When you Need it!</h2>
		<a class="signUp" href="users/sign_up">Sign Up</a>
	</div>
</div>
<div class="container">
	
	<h3>How it works</h3>

	<div class="row">
		<div class="col-sm-3">
			<img id="pic"src="https://dt8kf6553cww8.cloudfront.net/static/images/index/1-vflbLvAPq.png" alt="">
			<article id="parOne">
				<h2>Information anywhere you are</h2>
				<p>Get your Glucose information on the go and acces it from your smartphone. </p>
 			</article>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<img id="picReverse"src="https://dt8kf6553cww8.cloudfront.net/static/images/index/2-vflawKxYX.png" alt="">
			<article id="parTwo">
				<h2>Share with your loved ones</h2>
    			<p>Share your glocose levels with your love ones so everyone can be engage in helping you.</p>
  			</article>
  		</div>
  	</div>	
	
	<div class="row">
		<div class="col-sm-3">
			<img id="pic"src="https://dt8kf6553cww8.cloudfront.net/static/images/business/home/file-share-transfer-devices-vfl7Qrx9H.png" alt="">
 			 <article id="parOne">
 			 	<h2>Advance Analizing Tools</h2>
    			<p>Download the data from your CGM and analize it with our advance tools</p>
 			 </article>
 		</div>
 	</div>	

 	<div class="row">

		<div class="col-sm-3">
			<img id="picReverse"src="https://dt8kf6553cww8.cloudfront.net/static/images/index/3-vflwYDamk.png" alt="">
 			 <article id="parTwo">
 			 	<h2>Safe & easy to use</h2>
   				 <p>With a strong account protection you can have peace of mind storing your CGM files.</p>
 			 </article>
		</div>
	</div>	
	
</div>


