// Place all the styles related to the glucose_checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper{
	width: 100%;
	height: 40em;
	padding-top: 6%;
	// background-color: rgba(69, 65, 60, 0.87)
	background-image: -webkit-radial-gradient(0% bottom, rgba(118,72,160,0.7) 0%, rgba(118,72,160,0) 60%),-webkit-radial-gradient(90% bottom, #523f8c 0%, rgba(82,63,140,0) 40%);
	color: #c7c0de;
}

h1{
	margin-top: 5%;
	margin-left: 8%;
	margin-bottom: 10%;
}

.table{
	width: 33%;
	height: 20em;
	margin: 0 auto;
}
.field{
	margin-bottom: 3%;
}

.glucoseSubmit{
	border-radius: 4px;
	background-color: rgb(59, 221, 86);
}