// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin-left: 0em
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #555;
background-color: rgba(250, 73, 113, 0.54);
}

.hero{
	width: 100%;
	height: 47em;
	background-image: url("https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327");
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;	
}
.emptyBox{
	width: 100%;
	height: 100%;
	z-index: -3;
	background-color: rgba(127, 216, 255, 0.54);
	float: left;
}
.emptyBox a{
	text-decoration: none;
	color: #ffffff;
}
.hero h2{
	font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 5em;
	text-align: left;
	padding: 0.2em 20em 0 0.1em;
	margin-top: .7em;
	z-index: -1;
}
.scrollDown{
	float: left;
	margin-left: 48%;
	margin-top: -7%;
}
.scrollDown p{
	margin-bottom: 0%
}
.scrollDown a{
	padding-left: 20%;
	color: #ffffff;
	font-size: 37px;
}
.navbar-default .navbar-brand {
color: #020202;
}

.navbar-default .navbar-link {
color: #ffffff;
}

.navbar-default .navbar-text {
color: #FFFFff;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: absolute;
	right: 0;
	left: 0;
}

.signUp{
	text-decoration: none;
	text-align: center;
	border: solid rgba(255, 253, 254, 0.68);
	border-radius: 0.2em;
	border-width: thin;
	padding: .1em .3em;
	margin-left: 53%;
	float: left;
	z-index: 2;
	margin-top: -12%;
	font-size: 3em;
	color: #ffffff;

}
.nav-wrapper{
	width: 100%;
	height: 3em;
	background-color: rgba(8, 8, 8, 0.7);
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 2%;
}

.nav-wrapper a{
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin-left: 15%;
	padding-top: 2%;
	color: #fff;

}
.nav-wrapper .logIn{
	display: block;
	margin-top: -2%;
	margin-left: 83%;
	background: #71cadf;
	color: #fff;
	font-size: 20px;
	padding: 1.5%;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	float: none;
}


.containerOne{
	height: 30em;
	padding-left: 2em;
}

.container{
	height: 100%;
	width: 100%;
	padding-left: 2%;
	padding-right: 1%;
	margin-top: 0%;
}
.container h3 {
	font-size: 2em;
	line-height: 1.6em;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	color: #33536d;
}
.row{
	margin: 0 auto;
	width: 80%;
}

#pic{
	width: 20em;
	height: 20em;
	border: .2em solid #FFFFFF;
	border-radius: 0;
	float: right;
	margin-top: -9%;
	margin-left: 0%;


}
#picReverse{
	width: 20em;
	height: 20em;
	border: .2em solid #FFFFFF;
	border-radius: 0;
	float: left;
	margin-top: -9%;
	margin-left: 0%;


}
.col-sm-3 {
	width: 95%;
	margin-left: 0%;
	margin-bottom: 11%;
	margin-top: 10%;
	float: right;
	
}

#parOne{
	width: 64%;
	height: 100%;
	margin-right: 0%;
	margin-top: 0%;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 30px;
	color: #33536d;
}

#parOne h2{
	font-size: 1.3em;
	margin-bottom: 7%;
}
#parOne	p {
	float: left;
	text-align: left;
	font-size: .7em;
	padding-top: 0%;
}

#parTwo{
	width: 70%;
	height: 8em;
	margin-right: 0%;
	margin-left: 32%;
	margin-top: -27%;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 30px;
	color: #33536d;
	float: left;
}
#parTwo p{
	float: right;
	text-align: right;
	font-size: .7em;
}
#parTwo h2{
	font-size: 1.3em;
	margin-bottom: 0%;
	margin-top: 0%;
	width: 100%;
	padding-bottom: 6%;
	float: right;
}
.rowOne {
	
	visibility: hidden;
}
.rowTwo {
	
	visibility: hidden;
}
.rowThree {
	
	visibility: hidden;
}
.rowFour {
	
	visibility: hidden;
}
footer{
	width: 100%;
	height: 20em;
	border-top: 2px solid gray;
	color: gray;
	background-color: rgb(77, 76, 76);
}
footer p{
	text-align: center;
	padding-top: 36px;
	margin-left: -4%;
}
.social{
	font-size: 60px;
	margin-left: 40%;
	margin-top: 1%;
}

.social a{
	color: rgba(145, 142, 141, 0.64);
	text-decoration: none;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(-4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}
.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}








