// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .mainBody{
	margin-left: 0em;
	background-color:#ffffff;
}
.hero{
	width: 100%;
	height: 47em;
	background-image: url("https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327");
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;	
}
.emptyBox{
	width: 100%;
	height: 100%;	
	float: left;
	background: -webkit-linear-gradient(top, rgba(41,137,216,0.8) 0%,rgba(38,125,200,0.8) 25%,rgba(32,96,164,1) 82%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
}
.emptyBox a{
	text-decoration: none;
	color: #ffffff;
}
.hero h2{
	font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 60px;
	padding: 4% 65% 0 1%;
	margin-top: 2%;
	line-height: 150%;
}
.scrollDown{
	float: left;
	margin-left: 48%;
	margin-top: -11%;
}
.scrollDown p{
	margin-bottom: 0%
}
.scrollDown a{
	padding-left: 20%;
	color: #ffffff;
	font-size: 37px;
	text-decoration: none;
}
.scrollDown:hover{
	transform: scale(1.15);
	text-decoration: none;
}
.signUp{
	text-align: center;
	border: solid rgba(255, 253, 254, 0.68);
	border-radius: 5px;
	border-width: thin;
	padding: 3px 10px;
	margin-right: 15%;
	float: right;
	margin-top: -15%;
	font-size: 45px;
}
.mainContent{
	height: 100%;
	width: 97%;
	padding-left: 10%;
	padding-right: 16%;
	margin-top: 0%;
	padding-top: 2%;
	margin: 0 auto;
}
.mainContent h3 {
	font-size: 2em;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	color: #33536d;
}
.row{
	margin: 0 auto;
	width: 80%;
}
#pic{
	width: 20em;
	height: 20em;
	border: .2em solid #FFFFFF;
	border-radius: 0;
	float: right;
	margin-top: -9%;
	margin-left: 0%;
}
#picReverse{
	width: 20em;
	height: 20em;
	border: .2em solid #FFFFFF;
	border-radius: 0;
	float: left;
	margin-top: -9%;
	margin-left: 0%;
}
.col-sm-3 {
	width: 95%;
	margin-left: 0%;
	margin-bottom: 6%;
	margin-top: 7%;
	border-bottom: 1px solid grey;
	height: 250px;	
}
#parOne{
	width: 64%;
	height: 100%;
	margin-right: 0%;
	margin-top: 0%;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 30px;
	color: #33536d;
}
#parOne h2{
	font-size: 30px;
	margin-bottom: 7%;
}
#parOne	p {
	float: left;
	text-align: left;
	font-size: 19px;
	padding-top: 0%;
}
#parTwo{
	width: 64%;
	height: 100%;
	margin-right: 0%;
	margin-left: 45%;
	margin-top: 0%;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 30px;
	color: #33536d;
}
#parTwo p{
	float: right;
	text-align: left;
	font-size: 19px;
	padding-top: 0%;
}
#parTwo h2{
	font-size: 30px;
	margin-bottom: 7%;
}
#imgOne {	
	visibility: hidden;
	width: 35%;
	height: 80%;
	border-radius: 0;
	float: right;
	margin-right: -12%;
}
#imgTwo {
	visibility: hidden;
	width: 35%;
	height: 80%;
	border-radius: 0;
	float: left;
	margin-left: -12%;
}
#imgThree {
	visibility: hidden;
	width: 35%;
	height: 80%;
	border-radius: 0;
	float: right;
	margin-right: -12%;
}
#imgFour {
	visibility: hidden;
	width: 35%;
	height: 80%;
	border-radius: 0;
	float: left;
	margin-left: -12%;
}
footer{
	width: 100%;
	height: 20em;
	border-top: 2px solid gray;
	color: gray;
	background-color: rgb(77, 76, 76);
}
footer p{
	text-align: center;
	padding-top: 36px;
	margin-left: -4%;
}
.social{
	font-size: 60px;
	margin-left: 40%;
	margin-top: 1%;
}

.social a{
	color: rgba(145, 142, 141, 0.64);
	text-decoration: none;
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	visibility: visible !important;						
}
@keyframes slideDown {
	0% {transform: translateY(-100%);}
	50%{transform: translateY(8%);}
	65%{transform: translateY(-4%);}
	80%{transform: translateY(4%);}
	95%{transform: translateY(-2%);}			
	100% {transform: translateY(0%);}		
}
@-webkit-keyframes slideDown {
	0% {-webkit-transform: translateY(-100%);}
	50%{-webkit-transform: translateY(8%);}
	65%{-webkit-transform: translateY(-4%);}
	80%{-webkit-transform: translateY(4%);}
	95%{-webkit-transform: translateY(-2%);}			
	100% {-webkit-transform: translateY(0%);}	
}
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	visibility: visible !important;			
}
@keyframes slideUp {
	0% {transform: translateY(100%);}
	50%{transform: translateY(-8%);}
	65%{transform: translateY(4%);}
	80%{transform: translateY(-4%);}
	95%{transform: translateY(2%);}			
	100% {transform: translateY(0%);}	
}
@-webkit-keyframes slideUp {
	0% {-webkit-transform: translateY(100%);}
	50%{-webkit-transform: translateY(-8%);}
	65%{-webkit-transform: translateY(4%);}
	80%{-webkit-transform: translateY(-4%);}
	95%{-webkit-transform: translateY(2%);}			
	100% {-webkit-transform: translateY(0%);}	
}
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}
@keyframes slideRight {
	0% {transform: translateX(-150%);}
	50%{transform: translateX(8%);}
	65%{transform: translateX(-4%);}
	80%{transform: translateX(4%);}
	95%{transform: translateX(-2%);}			
	100% {transform: translateX(0%);}	
}
@-webkit-keyframes slideRight {
	0% {-webkit-transform: translateX(-150%);}
	50%{-webkit-transform: translateX(8%);}
	65%{-webkit-transform: translateX(-4%);}
	80%{-webkit-transform: translateX(4%);}
	95%{-webkit-transform: translateX(-2%);}			
	100% {-webkit-transform: translateX(0%);}
}
.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}
@keyframes slideLeft {
	0% {transform: translateX(150%);}
	50%{transform: translateX(-8%);}
	65%{transform: translateX(4%);}
	80%{transform: translateX(-4%);}
	95%{transform: translateX(2%);}			
	100% {transform: translateX(0%);}
}
@-webkit-keyframes slideLeft {
	0% {-webkit-transform: translateX(150%);}
	50%{-webkit-transform: translateX(-8%);}
	65%{-webkit-transform: translateX(4%);}
	80%{-webkit-transform: translateX(-4%);}
	95%{-webkit-transform: translateX(2%);}			
	100% {-webkit-transform: translateX(0%);}
}
.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	
	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;
	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;
	visibility: visible !important;	
}
@keyframes slideExpandUp {
	0% {transform: translateY(100%) scaleX(0.5);}
	30%{transform: translateY(-8%) scaleX(0.5);}	
	40%{transform: translateY(2%) scaleX(0.5);}
	50%{transform: translateY(0%) scaleX(1.1);}
	60%{transform: translateY(0%) scaleX(0.9);}
	70% {transform: translateY(0%) scaleX(1.05);}			
	80%{transform: translateY(0%) scaleX(0.95);}
	90% {transform: translateY(0%) scaleX(1.02);}	
	100%{transform: translateY(0%) scaleX(1);}
}
@-webkit-keyframes slideExpandUp {
	0% {-webkit-transform: translateY(100%) scaleX(0.5);}
	30%{-webkit-transform: translateY(-8%) scaleX(0.5);}	
	40%{-webkit-transform: translateY(2%) scaleX(0.5);}
	50%{-webkit-transform: translateY(0%) scaleX(1.1);}
	60%{-webkit-transform: translateY(0%) scaleX(0.9);}
	70% {-webkit-transform: translateY(0%) scaleX(1.05);}			
	80%{-webkit-transform: translateY(0%) scaleX(0.95);	}
	90% {-webkit-transform: translateY(0%) scaleX(1.02);}	
	100%{-webkit-transform: translateY(0%) scaleX(1);}
}
.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	
	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes tossing {
	0% {transform: rotate(-4deg);}
	50% {transform: rotate(4deg);}
	100% {transform: rotate(-4deg);}						
}
@-webkit-keyframes tossing {
	0% {-webkit-transform: rotate(-4deg);}
	50% {-webkit-transform: rotate(4deg);}
	100% {-webkit-transform: rotate(-4deg);}				
}
.heroWrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	margin-bottom: -2%;
}
.heroWrap img {
  width: 100%;
  height: auto;
  display: block;
}
.heroWrap:before, .heroWrap:after {
  content:'';
  position: absolute;
  bottom: 0;
  width: 50%;
  background-color: inherit;
  padding-bottom:3%;
}
.heroWrap:before {
  right: 34%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  width: 66%;
  border-top: 2px solid grey;
  border-right: 3px solid grey;
}
.heroWrap:after {
  left: 65.7%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  border-top: 2px solid grey;
  border-left: 3px solid grey;
}